
/* Section banniere accueil */

.banniere-accueil img {
    display: block;
    margin: 0 auto;
    padding-top: 70px;
}

/* Séparateur arrondi */
.separator-rounded {
    background-color: var(--bg-color); 
    height: 70px;
    border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%;
    border-bottom: 5px solid #e3d9d0;
    box-shadow:0 5px #e3d9d0;
}

/* Section Description planty */

.description-planty {
    max-width: 497px; 
    margin: 0 auto; 
    text-align: center; 
    padding: 75px 0px 82px 0px ;
}

.description-planty p {
    margin-top: 47px ;
}

/* Section Gouts */
.gouts {
    background-color: var(--bg-color); 
    text-align: center;
    padding: 58px 0px 20px 0px;
    align-items: center;
}

.gouts h2 {
    color:var(--title-pink); 
}

.gouts p {
    margin: 7px 0px 48px 0px;
}

.image-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.image-box {
    width: 393px;
    height: 262px;
    text-align: center; 
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image-box img {
    width: 100%;
    height: auto;
    position:absolute;
    z-index:0;
}

.fruit {
    position: relative;
    line-height:1;
    text-align:center;
    word-break: break-all;
    padding:0 20px;
    font-weight: 800;
    font-size: 2.9em;
    color: white;
    z-index: 1;
    text-transform: uppercase;
  }

  .CTA {
    height: 18px ;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 15px 56px;
  }


/* Section avis */

.section_avis h2 {
color: var(--green);
margin: 105px 0px 84px 0px;
}

.avis {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}

.avis_unique {
    display: flex;
    align-items: flex-start;
    width: 345px;
    gap: 20px;

}

.avis_image img{
    width: 139px;
}

.avis_personne {
    text-align: left;
    padding-top: 18px;
}

.avis_personne p {
    font-size: 1em;
    padding-top: 11px;
}

@media (max-width: 1280px) {

    .section_avis {
        padding: 0 30px;
    }

    .description-planty p {
        margin-top: 25px ;
    }

    .description-planty {
        padding: 45px 0px 45px 0px ;
    }

}

@media (max-width: 900px) {

    .banniere-accueil img {
        width: 80%;
    }

    .fruit {
        font-size: 2.2em;
    }

    .image-box {
        width: 300px;
    }

    .image-grid {
        margin-bottom: 0px;
    }
    
    .section_avis h2 {
        margin: 50px 0px 40px 0px;
    }

    .avis_unique {
        width: 450px;
    }

    .avis {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .avis_image img {
        padding-left: 20px;
    }

}

@media (max-width: 750px) {

    .banniere-accueil {
        padding: 30px 20px;
    }

    .banniere-accueil img {
        padding-top: 0;
    }

    .separator-rounded {
        height: 20px;        
    }

    .description-planty p {
        margin: 0 10px;
    }

    .gouts p {
        margin: 7px 10px 20px 10px;
    }

    .image-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        gap: 0px;
    }

    .image-box {
        height: 160px;
        margin-bottom: 20px;
    }

    .image-box img {
        width: 80%;
    }

    .fruit {
        font-size: 1.9em;
    }

    .avis_unique {
        width: 300px;
    }

}