
/* Section banniere accueil */

.banniere-accueil img {
    display: block;
    margin: 0 auto;
    padding-top: 70px;
}


.separator-rounded {
    background-color: var(--bg-color); 
    height: 20px;
    border-radius: 0 0 40% 40%;
    box-shadow:0 10px #e3d9d0;
}

/* Section Description planty */

.description-planty {
    max-width: 497px; 
    margin: 0 auto; 
    text-align: center; 
    padding: 75px 0px 82px 0px ;
}

.description-planty p {
    margin-top: 47px ;
}

/* Section Gouts */
.gouts {
    background-color: var(--bg-color); 
    text-align: center;
    padding: 58px 0px 20px 0px;
    align-items: center;
}

.gouts h2 {
    color:var(--title-pink); 
}

.gouts p {
    margin: 7px 0px 48px 0px;
}

.image-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.image-box {
    width: 393px;
    height: 262px;
    text-align: center; 
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image-box img {
    width: 100%;
    height: auto;
    position:absolute;
    z-index:0;
}

.fruit {
    position: relative;
    line-height:1;
    text-align:center;
    word-break: break-all;
    padding:0 20px;
    font-weight: 800;
    font-size: 2.9em;
    color: white;
    z-index: 1;
  }

/* Section avis */

.section_avis h2 {
color: var(--green);
margin: 105px 0px 84px 0px;
}

.avis {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}

.avis_unique {
    display: flex;
    align-items: flex-start;
    width: 345px;
    gap: 20px;

}

.avis_image img{
    width: 139px;
}

.avis_personne {
    text-align: left;
    padding-top: 18px;
}

.avis_personne p {
    font-size: 1em;
    padding-top: 11px;
}



