/* Style pour l'arrière-plan vert */
.commande-fond {
    display: flex;
    justify-content: center;
    background-color: var(--green);
}

.commande {
    width: 860px;
}

.commande h1 {
    padding: 69px 0px;
    margin: 0;
    color: white;

}

.white-hr {
    border-top: 1px solid white;
    margin: 0;
}

.commande-title {
    text-align: left;
    color: white;
    padding: 40px 0px;
}

.command-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 93px;
    margin-top: 53px;
}

.command-form h3 {
    text-align: left;
    color: white;
    margin-bottom: 29px;
}

.image-gout {
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: center;
    margin-bottom: 40px;
}

.quantite-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity {
    width: 39px;
    height: 56px;
    border-radius: 0;
    margin-top: 16px;
    text-align: center;
    font-size: 1em;
}

.image-fruit {
    width: 193px;
    height: 129px;
    text-align: center; 
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image-fruit img {
    width: 100%;
    height: auto;
    position:absolute;
    z-index:0;
}

.fruit-petit {
    position: relative;
    line-height:1;
    text-align:center;
    word-break: break-all;
    padding:0;
    font-weight: 800;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    z-index: 1;
  }



/* Style pour les colonnes du formulaire */
#wpcf7-f177-o1 {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0;
}

.colonne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 44px;
    width: 100%;
}

.colonne input {
   width: 100%;
}

.column1 , .column2 {
    display: flex;
    text-align: left;
    color: white;
    flex-direction: column;
    margin: auto;
}

.column1 {
    padding-right: 45px;
    border-right: 1px solid white;
}

.column2 {
    padding-left: 45px;
}

.CTA {
    background-color: var(--button) ; 
    margin: auto;
}

@media (max-width: 900px) {

    .commande {
        width: 100%;
    }

    .image-gout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0px;
        width: 100%;
    }

    .commande-title {
        text-align: center;
    }

    .colonne {
        grid-template-columns: 1fr;
        margin: auto;
    }
    
    .column1 {
        padding: 0 30px;
        border-right: 0px solid white;
        width: 80%;
    }
    
    .column2 {
        padding: 20px 30px 0 30px;
        width: 80%;
    }
}


@media (max-width: 750px) {

    .image-gout {
        display: flex;
        flex-direction: column;
        gap: 26px;
        justify-content: center;
        margin-bottom: 0px;
    }
}