/* Première section */

.banniere-accueil{
    padding: 105px 360px 20px 360px;
}


.titre_rose {
    color: var(--title-pink);
    margin-top: 81px ;
}

.fleur {
    height: 190px;
    position: absolute;
    top: 71px;
    left: 143px;
}

/* Deuxième section */

h3 {
    padding-top: 76px;
    padding-bottom: 50px;
    color: black;
    text-align: center;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0px 11px 0px;
}

.equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 157px;
    position: relative;
}

.column-equipe {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.feuille2 {
    height: 219px;
    position: absolute;
    bottom: 0px;
    left: 1190px;
}


/* Troisième section - Formulaire */

.section-formulaire-contact {
    display: flex;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    width: 383px;
    text-align: left;
    margin: auto;
}

.forms {
    display: flex;
    width: 383px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: auto;
    margin-bottom: 22px;
}

.CTA {
    margin: 0;
    margin-top: 24px;
    padding: 0 73px;
}

textarea {
    height: 237px;
    position: relative;
}

span.wpcf7-form-control-wrap {
    display: inline-block;
    padding: 10px 0;
}

.feuillebaie {
    height: 190px;
    position: absolute;
    top: 562px;
    left: 442px;
    z-index: 0;
}

.section-formulaire-contact .full-width-image {
    padding-top: 42px;
}

@media (max-width: 1200px) {

    .banniere-accueil{
        padding: 30px 10px 20px 10px;
    }

    .titre_rose {
        margin-top: 40px ;
    }

    .fleur {
        height: 90px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    h3 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .equipe {
        gap: 80px;
    }
    
    .column-equipe {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 900px) {

    .feuille2 {
        height: 100px;
        bottom: 0px;
        left: 88%;
    }

    .feuillebaie {
        height: 190px;
        top: 60%;
        left: 15%;
    }

}

@media (max-width: 750px) {

    .equipe {
        flex-direction: column;
        gap: 10px;
    }

    .feuille2 {
        height: 100px;
        bottom: 0px;
        left: 75%;
    }

    h4 {
        font-size: 1em;
    }

    form {
        width: 280px;
    }

    .forms {
        width: 280px;
    }
    
    .feuillebaie {
        height: 190px;
        top: 65%;
        left: -20%;
    }

}