

/* General */
* {
    font-family: 'Syne', sans-serif;
}

:root {
    --button-nav: #DC9F96;
    --bg-color: #ECE2DA;
    --green: #3B8E46;
    --title-pink: #D2776A;
    --button: #E0B9B4;
    --button-hover: #C02E44;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2.4em;
    margin-top: 0px;
    font-weight: 800;
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.9em;
    font-weight: 800;
    margin: 0px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.9em;
    font-weight: 700;
    margin: 0px;
    color: var(--green);
}

p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0px;
}

ul {
    margin: 0;
}

/************** Header ********/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    height: 80px;
    align-items: center;
    padding-left: 37px;
}

.logo-header img {
    width: 201px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin: 0;
    padding: 0;
}
  
.header-menu a {
    text-decoration: none;
    text-align: center;
    }

.header-menu a:hover {
    font-weight: 700;
    font-size: 0.8125em;
}

.header-menu li {
    list-style-type: none;
    order: 1;
    margin: 0 30px;
}

.header-menu li.admin-menu {
    order: 2;
    margin-right: 60px;
}

.header-menu li.commander {
    display: flex;
    background-color: var(--button-nav);
    color: #fff;
    width: 236px;
    height: 80px;
    align-items: center;
    font-weight: 700;
    order: 3;
    margin: 0;
    justify-content: center;
}

.header-menu li.commander:hover {
    background-color: var(--button-hover);
}

.header-menu li.commander a:hover {
    font-size: 1em; !important
}

    /* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 60px;
}

.footer-menu {
    padding: 0;
}

.footer-menu li {
    list-style-type: none;
}

.banniere-accueil{
    background-color: var(--bg-color);
    padding: 105px 310px 70px 310px;
    text-align: center;
    position: relative;
}


.CTA {
    background-color: var(--button); /* Couleur de fond pour le bouton Commander */
    color: #fff; /* Couleur du texte pour le bouton Commander */
    padding: 0px 56px;
    height: 55px;
    border: none;
    border-radius: 5px ;
    font-size: 0.9em ;
    margin-top: 7px;
}

.CTA:hover {
   background-color:var(--button-hover); 
}

.separateur {
    background-color: var(--bg-color); 
    height: 20px;
    border-radius: 0 0 40% 40%;
}

.full-width-image {
    width: 100%;
    display: block;
    padding-top: 115px;
}

label {
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
}

input, textarea {
    height: 71px;
    border-radius: 7px;
    border: none;
  }

.wpcf7-text, .wpcf7-textarea {
    margin-top: 13px;
    margin-bottom: 22px;           
}

@media (max-width: 1200px) {

    p {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2, h3 {
        font-size: 1.5em;
    }

    .main-container {
        max-width: 100%;
    }

    .header-menu a {
        margin-left: 30px;
    }

    .header-menu li:last-child a {
        width: 180px;
    }
   

    .banniere-accueil {
        padding: 70px 20px;
    }

    .CTA {
        padding: 0px 15px;
        height: 45px;
        font-size: 0.8em;
    }

    .separateur {
        height: 15px;
    }

    .full-width-image {
        padding-top: 80px;
    }
}
    

@media (max-width: 900px) {

    
    p {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2, h3 {
        font-size: 1.2em;
    }

    .main-container {
        max-width: 100%;
    }

    .header-menu li:last-child a {
        width: 100px;
    }
   

    .banniere-accueil {
        padding: 70px 20px;
    }

    .CTA {
        padding: 0px 10px;
    }

    .separateur {
        height: 15px;
    }

    .full-width-image {
        padding-top: 60px;
    }
}